<app-user-navbar></app-user-navbar>

<section class="min-vh-100 pt-xl-5" style="background-color: #c3e1f5;">
    <div class="container h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-5 m-5">
                <div class="row justify-content-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Welcome User!</p>
                    <p class="text-center">An application for filing and managing claims.</p>
                        <p class="d-flex justify-content-center align-items-center mt-4">
                          <!-- <button type="button" (click)="getStarted()" class="btn btn-outline-dark btn-rounded" style="background-color: rgb(55, 211, 223);">
                            Get started
                          </button> -->
                        </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <section class="py-5 border-bottom text-center" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">File a Claim</h2>
                    <p>File or update a claim for all your vehicles. All in one account.</p>
                    <button type="button" routerLink="/createclaim" class="btn btn-outline-dark btn-rounded">
                        File a claim
                      </button>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">View your Vehicles</h2>
                    <p>Look at your vehicles and add more as needed.</p>
                    <button type="button" routerLink="/vehicles" class="btn btn-outline-dark btn-rounded">
                        Your Vehicles
                      </button>
                    <!-- <a class="text-decoration-none" href="#!">
                        Your Vehicles
                        <i class="bi bi-arrow-right"></i>
                    </a> -->
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Adjuster features</h2>
                    <p>Presents and provides the information needed for adjusters to manage a claim.</p>
                    
                </div>
            </div>
        </div>
    </section>
    
</section>


